<!-- comment
<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  <%#= render partial: 'spree/shared/nav_bar' %>
  <%#= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</header>
-->


  <nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <figure id="logo" class="columns six" data-hook><%= logo img_options: { class: 'img-responsive', width: '138'}%></figure>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"
         id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <% @taxonomies.each do |taxonomy| %>
        <li class='dropdown'>
          <%= taxonomy.name %>
          <%= nav_tree(taxonomy.root, @taxon, 1) %>

        </li>
        <% end %>

        <!-- <li class="dropdown">
          <ul class="dropdown-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact us</a></li>
          </ul>
          </li> -->

      </ul>

      <form class="navbar-form navbar-right"
            role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your search text...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

  </div>
</nav>
